@media screen and (max-width:700px){

    nav{
        flex-wrap: wrap;
       justify-content: space-between;
        .button {
        font-size: 40px;
        color:rgb(221, 221, 221);
          }

        ul {
            display: flex;
            flex-direction: column;
            margin-top: 0.9rem;
            width: 100%;
            li{
                display: block;
                border-top: 1px solid #ccc;
                font-size: 1rem;
                text-align: left;
            
            }

        }

    }



    .collapsible{
        
        .collapsible__content{
            max-height: 0;
        overflow: hidden;
        transition: max-height 0.6s;
            
        }
        .collapsible--expanded .collapsible__content{   
            max-height: 100vh;

         
        }

    }

    .nav-section{
        grid-template-rows: 1fr 1fr;
        
    }
 
}

@media screen and (min-width:701px) {
    .button{
        display:none
    }
    
}


