@import "mobile";
*{

    box-sizing: border-box;
    // overflow: auto;
    margin:0;
}
html{
    font-size: 62.5%;
}

$primary-color:rgb(221, 221, 221);
$secondary-color:rgb(57, 56, 56);
body{
    font-family:  'Roboto Slab', serif;;
    background-image: url(images/endless-constellation.svg);
    height: 100vh;
}


.container{
// height: 40%;
    max-width: 1300px;
    padding: 0 30px;
    margin:0 auto;
    overflow:hidden;
}

.nav-section{

    height: 40vh;
    display: grid;
    grid-template-rows: 70% 30%;

    
    nav{
      
        display:flex;
        width: 100%;
        height: 100%;
        justify-content: right;
   
        ul{
            display: flex;
            list-style: none;
            text-align: center;

         
        }
        li{
            padding:2rem;
            &:hover{
                transform: scale(1.1);
                color:lighten($primary-color, 80%);
                transition: 0.3s ease-in;
            }   
        }
        a{
            text-decoration: none;
            color: $primary-color;
            font-size: 1.6rem;
            
            font-weight: bolder;
        
        }
    }

    .header {
        color:$primary-color;
        text-align: center;
        align-self: flex-end;
        margin-bottom: 2rem;
        font-size: 2rem;
    }
   
}
article{
    background-color: $secondary-color;

    
}
.footer{
    overflow: auto;
    display: grid;
  height:60vh;
    grid-template-columns: 10% 80% 10%;
    color:$primary-color;


    .social-info{
        align-self: flex-end;
        justify-self: right;
        display: flex;
        flex-direction: column;
        padding:2rem 1rem;
        font-size: 3rem;
        gap:1rem;
        color:$primary-color;
      .icon{
          opacity: 0.7;
          &:hover{
            opacity: 1;
            transform: scale(1.2);
            transition: 0.8s ease-in;
            
          }
      }
    }

    .resume{
        display:flex;
        flex-wrap: wrap;
          text-align: center;
          justify-content: center;
        
          gap: 2rem;
   
          
          
          .resume-1{
              width:30rem;
              img{
                  width: 100%;
              }
            border-bottom: 3px solid coral;
            border-radius: 5px;
       
     
        }
    }


    .copyRight{
        text-align: center;
         align-self: flex-end;
         justify-self: center;
      
         transform:rotate(90deg);
     margin-bottom: 10rem;
      width: 10rem;
       
      
    }
}